@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&family=Poppins:ital,wght@1,300&display=swap"rel="stylesheet");
.container {
  width: 1200px;
  margin: auto;
}
.intro {
  width: auto;
}
img {
  width: 40%;
}
h5 {
  margin-left: 700px;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  bottom: 400px;
}
ul {
  position: relative;
  bottom: 150px;
  font-size: 30px;
  font-weight: 500;
}
.input {
  margin-left: 700px;
  position: relative;
  bottom: 600px;
  font-size: 20px;
}
.enterno {
  position: relative;
  right: 80px;
  width: 300px;
  height: 25px;
  font-size: 20px;
}

.button {
  position: relative;
  right: 70px;
  width: 90px;
  height: 30px;
  font-size: 20px;
}

.output {
  margin-left: 700px;
  position: relative;
  bottom: 600px;
}
.output .out {
  position: relative;
  right: 80px;
  font-size: 20px;
}
.display {
  width: 250px;
  height: 100px;
  position: relative;
  right: 80px;
  font-size: 20px;
}

.attempt {
  margin-left: 700px;
  position: relative;
  bottom: 600px;
  right: 80px;
  font-size: 25px;
}
.score {
  margin-left: 530px;
  position: relative;
  bottom: 650px;
  left: 300px;
  font-size: 25px;
}
.score .high {
  position: relative;
  bottom: 52px;
  left: 180px;
  font-size: 25px;
}
